/****************** Main styles start ******************/
.site-main{
    background-color: #fefcf7;
}

/* Hero about section start */
.hero-section__about{
    margin-bottom: 168px;
}

.hero-section__about-wrapper{
    padding: 137px 85px;
    background-image: url("../images/about-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.hero-section__about-title{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7;
}

.hero-section__about-desc{
    width: 445px;
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
}
/* Hero about section end */

/* Commit section start */
.commit-section{
    margin-bottom: 256px;
}

.commit-section__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 85px;
}

.commit-section__img{
    width: 445px;
    height: 520px;
    border-radius: 8px;
}

.commit-section__content{
    width: 540px;
}

.commit-section__title{
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.commit-section__desc{
    margin-top: 0;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}
/* Commit section end */

/* Quality section start */
.quality-section{
    margin-bottom: 168px;
}

.quality-section__wrapper{
    position: relative;
    padding-top: 88px;
    padding-bottom: 176px;
    padding-left: 85px;
    background-color: #2C343E;
    border-radius: 10px;
}

.quality-section__title{
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.quality-section__desc{
    margin: 0;
    width: 540px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

.qulity-section__img{
    position: absolute;
    right: 7%;
    bottom: 30%;
    width: 445px;
    height: 474px;
    border-radius: 8px;
}
/* Quality section end */

/* Location section start */
.location-section{
    
}

.location-section__wrapper{
    padding-right: 85px;
    padding-left: 85px;
}

.location-section__title{
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.location-section__list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.location-section__subtitle{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.location-section__subtitle::before{
    display: block;
    margin-bottom: 45px;
    width: 40px;
    height: 49px;
    background-image: url("../images/uk.svg");
    background-repeat: no-repeat;
    content: "";
}

.canada::before{
    background-image: url("../images/canada.svg");
}

.australia::before{
    width: 48px;
    background-image: url("../images/aus.svg");
}

.location-section__address{
    display: flex;
    flex-direction: column;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}


/* Location section end */
/****************** Main styles end ******************/